.about {
    &-detalhes {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;

        &-image {
            width: 100%;
            max-width: 16rem;
            margin-bottom: 2rem;
        }
        
        &-dados {
            width: 100%;

            .paragrafo {
                margin-bottom: 2rem;
                line-height: 1.5;
            }
            
            .dados-item {
                margin: 1rem 0;
                line-height: 1.5;
            }
            
            .dados-item-label {
                font-weight: 600;
            }
        }
        
        @media screen and (min-width: 792px) {
            flex-direction: row;
            &-image {
                margin: 0;
            }

            &-dados {
                margin: 0 2rem;
            }
        }

        @media screen and (min-width: 1200px) {
            .about-detalhes {
                flex-direction: row;
            }
        }
    }
}






