.experiencia {
    &-cargo {
        margin-bottom: .5rem;
        font-weight: 600;
    }

    &-descricao {
        &-paragrafo {
            line-height: 1.5rem;
            margin-bottom: .5rem;
        }
    }
}