@import "../utils/variables";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');

html, body {
    font-family: 'Raleway', sans-serif;

    &.locked {
        overflow: hidden;
    }
}

.d-block {
    display: block;
}

.highlight {
    text-shadow: .1rem .1rem 0 $green;
}

.f-bold {
    font-weight: 600;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;

    @media screen and (min-width: 576px) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    
    @media screen and (min-width: 792px) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    
    @media screen and (min-width: 991px) {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    
    @media screen and (min-width: 1024px) {
        padding-right: 4rem;
        padding-left: 4rem;
    
        .highlight {
            text-shadow: .25rem .25rem 0 $green;
        }
    }
    
    @media screen and (min-width: 1200px) {
        padding-right: 6rem;
        padding-left: 6rem;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}