.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;

    @media screen and (min-width: 1200px) {
        justify-content: space-around;

        @media screen and (min-width: 2000px) {
            justify-content: space-between;
        }
    }

    &-texto {
        &-linha {
            font-size: 1.25rem;

            @media screen and (min-width: 2000px) {
                font-size: 1.5rem;
            }
        }
        
        &-nome {
            font-size: 3.25rem;
            margin: .75rem 0;

            @media screen and (min-width: 792px) {
                font-size: 3.75rem;
            }

            @media screen and (min-width: 991px) {
                font-size: 5rem;
            }

            @media screen and (min-width: 2000px) {
                font-size: 6rem;
            }
        }

        @media screen and (min-width: 1200px) {
            width: 40%;
        }
    }

    &-imagem {
        display: none;

        @media screen and (min-width:768px) {
            display: block;
            width: 40%;
    
            &-container {
                max-width: 20rem;
                margin-left: auto;
            }
        }
    }
}