@import "../utils/variables";

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &-content {
        width: 100%;
    }
}

.section-title {
    font-size: 2.5rem;
    text-shadow: .1rem .1rem 0 $green;
    margin-bottom: 2rem;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        align-items: flex-start;
    }
}

