.skills {

    &-campo {
        margin-bottom: 3rem;

        &-title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
        }
    }
    .skill {
        &-item {
            margin-top: .25rem;
            display: inline-block;
            background: #000;
            color: #fff;
            padding: .5rem;
        }

        &-name {
            margin-bottom: .5rem;
        }

        &-percentage {
            display: block;
            height: 1.5rem;
            width: 100%;
            background: #eee;
            position: relative;
            z-index: -2;

            .progress {
                z-index: -1;

                &-number {
                    position: absolute;
                    top: 50%;
                    right: 1rem;
                    transform: translateY(-50%);
                }

                &-bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background: #000;
                    transition-property: width;
                    transition-duration: 1s;
                    transition-timing-function: ease-in-out;
                }
            }
        }
    }
}