.timeline {
    &-item {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 2rem;
        line-height: 1.25em;
    }

    &-tempo {
        width: 25%;
        color: #707070;
        text-align: right;
        padding-right: .5rem;
    }

    &-content {
        width: 75%;
        padding-left: .5rem;

        .credencial {
            font-size: 0.85rem;
            color: #707070;
            margin-top: .5rem;
        }
    }

    &-title {
        margin-bottom: 1rem;
        font-size: 1.15rem;
        font-weight: 600;
    }
}